/* Estilos generales */
.page {
  max-width: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  height: 80px;
  width: 58px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 8px 0 0;
  padding: 0;
}

.nav__link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.header__title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 96px;
  margin-bottom: 32px;
  max-width: 80%;
}

.header__description {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 1.5em;
  max-width: 80%;
}

.header__image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0;
}

.header__address {
  margin: 0;
  color: #838383;
  text-align: center;
}

.staff {
  background-image: url("../images/staff_picks_background.jpg");
  padding: 50px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.staff__title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 24px;
  color: #fff;
}

.staff__subtitle {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.staff__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  max-width: 760px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
  margin-top: 34px;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 16px 20px;
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.card__title {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 1rem;
  line-height: 1.5;
}

.card__footer {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #838383;
  margin-top: auto;
}

/* Media queries */
@media (min-width: 600px) {
  .header__content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
  }

  .header__title {
    font-size: 3rem;
    margin-top: 32px;
    margin-top: 128px;
  }

  .header__description {
    font-size: 1.5rem;
  }

  .header__image {
    margin-top: 0;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .nav__links {
    column-gap: 30px;
  }

  .header__title {
    font-size: 3.5rem;
  }

  .header__description {
    font-size: 1.75rem;
  }

  .header {
    padding: 50px 80px;
  }
  .card {
    width: calc(100% - 20px);
    max-width: none;
  }
  .staff__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .page {
    padding: 0 40px;
  }

  .header__content {
    margin-bottom: 40px;
  }

  .header__title {
    font-size: 4rem;
  }

  .header__description {
    font-size: 2rem;
  }

  .header__image {
    max-width: 40%;
  }

  .card {
    width: calc(45% - 40px);
    max-width: 280px;
  }
}
